<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offensive Powers</title>
</head>
<body>
    <% if (currentUser) { %>
        <% for( let index = 0; index < offensivePowers.length; index++ ) { %>
        <% let a = offensivePowers[index]; %> 
        <% a = a.toJSON() %>
        <p style="margin-bottom:0;"><%= 'Name: ' + a.name %></p>
        <p style="margin-bottom:0;"><%= 'Cooldown Time: ' + a.cooldownTime %></p>
        <p style="margin-bottom:0;"><%= 'Requirement: ' + a.requirement %></p>
        <p><%= 'Description: ' + a.description %></p>
        <% } %>

        <form method="POST" action="/offensiveComments">
            <label for="content">Comment</label>
            <input type="text" name="content">
            <input type="submit">
        </form>

        <% for( let index = 0; index < offensiveComments.length; index++ ) { %>
        <% let a = offensiveComments[index]; %> 
        <% a = a.toJSON() %>
        <br>
        <p style="margin-bottom:0;"><%= a.content %></p>
        <form method="POST" action="/offensiveComments/<%= offensiveComments[index].id %>/?_method=DELETE">
            <input type="submit" value="Delete">
        </form>
        <form method="POST" action="/offensiveComments/<%= offensiveComments[index].id %>/?_method=PUT">
            <input type="text" name="content" value="<%= offensiveComments.content %>">
            <input type="submit" value="Edit">
        </form>
        <% } %> 

    <% } %>
</body>