<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ground Units</title>
</head>
<body>
    <% if (currentUser) { %>
        <% for( let index = 0; index < groundUnits.length; index++ ) { %>
        <% let a = groundUnits[index]; %> 
        <% a = a.toJSON() %>
        <p style="margin-bottom:0;"><%= 'Name: ' + a.name %></p>
        <p style="margin-bottom:0;"><%= 'Hitpoints: ' + a.hp %></p>
        <p style="margin-bottom:0;"><%= 'Attack: ' + a.attack %></p>
        <p><%= 'Description: ' + a.description %></p>
        <% } %>

        <form method="POST" action="/groundComments">
            <label for="content">Comment</label>
            <input type="text" name="content">
            <input type="submit">
        </form>

        <% for( let index = 0; index < groundComments.length; index++ ) { %>
        <% let a = groundComments[index]; %> 
        <% a = a.toJSON() %>
        <br>
        <p style="margin-bottom:0;"><%= a.content %></p>
        <form method="POST" action="/groundComments/<%= groundComments[index].id %>/?_method=DELETE">
            <input type="submit" value="Delete">
        </form>
        <form method="POST" action="/groundComments/<%= groundComments[index].id %>/?_method=PUT">
            <input type="text" name="content" value="<%= groundComments.content %>">
            <input type="submit" value="Edit">
        </form>
        <% } %> 

    <% } %>
</body> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cards List - Bulma Templates</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="../css/cards.css">

    <style>
        body {
            text-align: center;
            color: white;
        }
        h1 {
            padding-bottom: 0px;
        }
    </style>
    
</head>

<body>
    <% if (currentUser) { %>
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title" style="color: ghostwhite;">Ground Units</h1><br>
            </div>
        </div>
        
        <div class="container">
            <% let a = groundUnits[0]; %> 
            <% a = a.toJSON() %>
            <div class="section">
                <div id="app" class="row columns is-centered">
                    <div v-for="card in cardData" key="card.id" class="column">
                        <div class="card large">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="https://i.imgur.com/MSs5NsI.png" alt="Image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4 no-padding"><%= a.name %></p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p style="margin-bottom:0;"><%= 'Hitpoints: ' + a.hp %></p>
                                    <p style="margin-bottom:0;"><%= 'Attack: ' + a.attack %></p>
                                    <p><%= 'Description: ' + a.description %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <% a = groundUnits[1]; %> 
            <% a = a.toJSON() %>
            <div class="section">
                <div id="app" class="row columns is-centered">
                    <div v-for="card in cardData" key="card.id" class="column">
                        <div class="card large">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="https://i.imgur.com/cfawPwu.jpeg" alt="Image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4 no-padding"><%= a.name %></p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p style="margin-bottom:0;"><%= 'Hitpoints: ' + a.hp %></p>
                                    <p style="margin-bottom:0;"><%= 'Attack: ' + a.attack %></p>
                                    <p><%= 'Description: ' + a.description %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <% a = groundUnits[2]; %> 
            <% a = a.toJSON() %>
            <div class="section">
                <div id="app" class="row columns is-centered">
                    <div v-for="card in cardData" key="card.id" class="column">
                        <div class="card large">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="https://i.imgur.com/XEp3bk2.jpeg" alt="Image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4 no-padding"><%= a.name %></p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p style="margin-bottom:0;"><%= 'Hitpoints: ' + a.hp %></p>
                                    <p style="margin-bottom:0;"><%= 'Attack: ' + a.attack %></p>
                                    <p><%= 'Description: ' + a.description %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <% a = groundUnits[3]; %> 
            <% a = a.toJSON() %>
            <div class="section">
                <div id="app" class="row columns is-centered">
                    <div v-for="card in cardData" key="card.id" class="column">
                        <div class="card large">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="https://i.imgur.com/LELBG5o.png" alt="Image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4 no-padding"><%= a.name %></p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p style="margin-bottom:0;"><%= 'Hitpoints: ' + a.hp %></p>
                                    <p style="margin-bottom:0;"><%= 'Attack: ' + a.attack %></p>
                                    <p><%= 'Description: ' + a.description %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <% a = groundUnits[4]; %> 
            <% a = a.toJSON() %>
            <div class="section">
                <div id="app" class="row columns is-centered">
                    <div v-for="card in cardData" key="card.id" class="column">
                        <div class="card large">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="https://i.imgur.com/hX8FS8U.jpeg" alt="Image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4 no-padding"><%= a.name %></p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p style="margin-bottom:0;"><%= 'Hitpoints: ' + a.hp %></p>
                                    <p style="margin-bottom:0;"><%= 'Attack: ' + a.attack %></p>
                                    <p><%= 'Description: ' + a.description %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form method="POST" action="/groundComments">
            <label for="content">Comment</label>
            <input type="text" name="content">
            <input type="submit">
        </form>

        <% for( let index = 0; index < groundComments.length; index++ ) { %>
        <% let a = groundComments[index]; %> 
        <% a = a.toJSON() %>
        <br>
        <p style="margin-bottom:0;"><%= a.content %></p>
        <form method="POST" action="/groundComments/<%= groundComments[index].id %>/?_method=DELETE">
            <input type="submit" value="Delete">
        </form>
        <form method="POST" action="/groundComments/<%= groundComments[index].id %>/?_method=PUT">
            <input type="text" name="content" value="<%= groundComments.content %>">
            <input type="submit" value="Edit">
        </form>
        <% } %> 
        
        <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    <div class="soc">
                        <a href="#"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
                    </div>
                    <p>
                        <strong>Subjugate</strong> by <a>Blind Games Studio</a>.
                        <br>
                    </p>
                </div>
            </div>
        </footer>
        <!-- <script src="../js/cardsData.js"></script> -->
        <% } %>
</body>

</html>