<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ground Units</title>
</head>
<body>
    <% if (currentUser) { %>
        <% for( let index = 0; index < groundUnits.length; index++ ) { %>
        <% let a = groundUnits[index]; %> 
        <% a = a.toJSON() %>
        <p style="margin-bottom:0;"><%= 'Name: ' + a.name %></p>
        <p style="margin-bottom:0;"><%= 'Hitpoints: ' + a.hp %></p>
        <p style="margin-bottom:0;"><%= 'Attack: ' + a.attack %></p>
        <p><%= 'Description: ' + a.description %></p>
        <% } %>

        <form method="POST" action="/groundComments">
            <label for="content">Comment</label>
            <input type="text" name="content">
            <input type="submit">
        </form>

        <% for( let index = 0; index < groundComments.length; index++ ) { %>
        <% let a = groundComments[index]; %> 
        <% a = a.toJSON() %>
        <br>
        <p style="margin-bottom:0;"><%= a.content %></p>
        <form method="POST" action="/groundComments/<%= groundComments[index].id %>/?_method=DELETE">
            <input type="submit" value="Delete">
        </form>
        <form method="POST" action="/groundComments/<%= groundComments[index].id %>/?_method=PUT">
            <input type="text" name="content" value="<%= groundComments.content %>">
            <input type="submit" value="Edit">
        </form>
        <% } %> 

    <% } %>
</body> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ground Unit Cards</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/cards.css">

    <style>
        .navbar {
            background-color: #301934;
        }

        #mainTitle {
            margin-top: 50px;
        }

        body {
            text-align: center;
            color: white;
            background-color: black;
        }

        #comment {
            background-color: white;
            margin-bottom: 10px;
        }

        #postedComment {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #deleteButton {
            margin-right: 5px;
        }

        .footer {
            background: #301934;
        }

        #signUpNow {
            color: white;
            text-align: center;
            background-color: black;
            font-size: 100px;
        }

        .card {
            margin: 0 auto;
            float: none;
            max-width: 600px;
        }

        img {
            object-fit: scale-down;
        }

        #commentBox {
            width: 500px;
            height: 40px;
            text-align: center;
        }

        #comment {
            margin-left: 5px;
            height: 40px;
            width: 100px;
            color: black;
            background-color: lightgray;
            border-radius: 100px;
        }

        #deleteButton {
            margin-left: 5px;
            height: 20px;
            width: 75px;
            color: black;
            background-color: lightgray;
            border-radius: 100px;
        }

        #editButton {
            margin-left: 5px;
            height: 20px;
            width: 75px;
            color: black;
            background-color: lightgray;
            border-radius: 100px;
        }

        .navbar-burger {
            color: white;
        }

        #navbarMenu {
            background: #301934;
        }
    </style>

</head>

<body>
    <!-- Navigation Bar -->
    <% if (currentUser) { %>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <p><strong>Subjugate</strong></p>
                    </a>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item" href="/">
                            Home
                        </a>
                        <a class="navbar-item" href="/profile">
                            Profile
                        </a>
                        <a class="navbar-item" href="/auth/logout">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Title -->
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title" style="color: ghostwhite;" id="mainTitle">Ground Units</h1>
            </div>
        </div>

        <!-- Unit Cards -->
        <div class="container">
            <div class="section">
                <div class="row columns is-multiline">

                    <div class="column is-4">
                        <% let a=groundUnits[0]; %>
                            <% a=a.toJSON() %>
                                <!-- <div class="section">
                                    <div id="app" class="row columns is-centered">
                                        <div v-for="card in cardData" key="card.id" class="column"> -->
                                <div class="card large">
                                    <div class="card-image">
                                        <figure class="image is-square">
                                            <img src="https://i.imgur.com/MSs5NsI.png" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content">
                                                <p class="title is-4 no-padding">
                                                    <%= a.name %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <p style="margin-bottom:0;">
                                                <%= 'Hitpoints: ' + a.hp %>
                                            </p>
                                            <p style="margin-bottom:0;">
                                                <%= 'Attack: ' + a.attack %>
                                            </p>
                                            <p>
                                                <%= 'Description: ' + a.description %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- </div>
                                    </div>
                                </div> -->
                    </div>
                    <div class="column is-4">
                        <% a=groundUnits[1]; %>
                            <% a=a.toJSON() %>
                                <!-- <div class="section">
                                    <div id="app" class="row columns is-centered">
                                        <div v-for="card in cardData" key="card.id" class="column"> -->
                                <div class="card large">
                                    <div class="card-image">
                                        <figure class="image is-square">
                                            <img src="https://i.imgur.com/hX8FS8U.jpeg" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content">
                                                <p class="title is-4 no-padding">
                                                    <%= a.name %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <p style="margin-bottom:0;">
                                                <%= 'Hitpoints: ' + a.hp %>
                                            </p>
                                            <p style="margin-bottom:0;">
                                                <%= 'Attack: ' + a.attack %>
                                            </p>
                                            <p>
                                                <%= 'Description: ' + a.description %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- </div>
                                    </div>
                                </div> -->
                    </div>
                    <div class="column is-4">
                        <% a=groundUnits[2]; %>
                            <% a=a.toJSON() %>
                                <!-- <div class="section">
                                    <div id="app" class="row columns is-centered">
                                        <div v-for="card in cardData" key="card.id" class="column"> -->
                                <div class="card large">
                                    <div class="card-image">
                                        <figure class="image is-square">
                                            <img src="https://i.imgur.com/cfawPwu.jpg" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content">
                                                <p class="title is-4 no-padding">
                                                    <%= a.name %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <p style="margin-bottom:0;">
                                                <%= 'Hitpoints: ' + a.hp %>
                                            </p>
                                            <p style="margin-bottom:0;">
                                                <%= 'Attack: ' + a.attack %>
                                            </p>
                                            <p>
                                                <%= 'Description: ' + a.description %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- </div>
                                    </div>
                                </div> -->
                    </div>
                    <div class="column is-4 is-offset-2">
                        <% a=groundUnits[3]; %>
                            <% a=a.toJSON() %>
                                <!-- <div class="section">
                                    <div id="app" class="row columns is-centered">
                                        <div v-for="card in cardData" key="card.id" class="column"> -->
                                <div class="card large">
                                    <div class="card-image">
                                        <figure class="image is-square">
                                            <img src="https://i.imgur.com/XEp3bk2.jpg" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content">
                                                <p class="title is-4 no-padding">
                                                    <%= a.name %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <p style="margin-bottom:0;">
                                                <%= 'Hitpoints: ' + a.hp %>
                                            </p>
                                            <p style="margin-bottom:0;">
                                                <%= 'Attack: ' + a.attack %>
                                            </p>
                                            <p>
                                                <%= 'Description: ' + a.description %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- </div>
                                    </div>
                                </div> -->
                    </div>
                    <div class="column is-4">
                        <% a=groundUnits[4]; %>
                            <% a=a.toJSON() %>
                                <!-- <div class="section">
                                    <div id="app" class="row columns is-centered">
                                        <div v-for="card in cardData" key="card.id" class="column"> -->
                                <div class="card large">
                                    <div class="card-image">
                                        <figure class="image is-square">
                                            <img src="https://i.imgur.com/LELBG5o.png" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content">
                                                <p class="title is-4 no-padding">
                                                    <%= a.name %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <p style="margin-bottom:0;">
                                                <%= 'Hitpoints: ' + a.hp %>
                                            </p>
                                            <p style="margin-bottom:0;">
                                                <%= 'Attack: ' + a.attack %>
                                            </p>
                                            <p>
                                                <%= 'Description: ' + a.description %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- </div>
                                    </div>
                                </div> -->
                    </div>

                </div>
            </div>
        </div>

        <!-- Comment System -->
        <form method="POST" action="/groundComments">
            <label for="content">Comment:</label>
            <input type="text" name="content" id="commentBox">
            <input type="submit" id="comment">
        </form>

        <% for( let index=0; index < groundComments.length; index++ ) { %>
            <% let a=groundComments[index]; %>
                <% a=a.toJSON() %>
                    <br>
                    <p style="margin-bottom:0;">
                        <%= a.content %>
                    </p>
                    <div id="postedComment">
                        <form method="POST" action="/groundComments/<%= groundComments[index].id %>/?_method=DELETE">
                            <input type="submit" id="deleteButton" value="Delete">
                        </form>
                        <form method="POST" action="/groundComments/<%= groundComments[index].id %>/?_method=PUT">
                            <input type="text" name="content" value="<%= groundComments.content %>">
                            <input type="submit" id="editButton" value="Edit">
                        </form>
                    </div>
                    <% } %>

                        <!-- Footer -->
                        <footer class="footer">
                            <div class="container">
                                <div class="content has-text-centered">
                                    <div class="soc">
                                        <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
                                    </div>
                                    <p>
                                        <strong>Subjugate</strong> by <a href="/">Blind Games Studio</a>.
                                    </p>
                                </div>
                            </div>
                        </footer>
                        <% } %>
                            <% if (!currentUser) { %>
                                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                                <h1 id="signUpNow">Please Signup or Login</h1>
                                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                                <style>
                                    #firstFooter {
                                        position: absolute;
                                        bottom: 0;
                                        width: 100%;
                                        background: #301934;
                                        color: white;
                                    }
                                </style>

                                <!-- Footer -->
                                <footer class="footer" id="firstFooter">
                                    <div class="container">
                                        <div class="content has-text-centered">
                                            <div class="soc">
                                                <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
                                            </div>
                                            <p>
                                                <strong id="Subjugate">Subjugate</strong> by <a href="/">Blind Games
                                                    Studio</a>.
                                            </p>
                                        </div>
                                    </div>
                                </footer>
                                <% } %>
</body>

</html>