<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faction Units</title>
</head>
<body>
    <% if (currentUser) { %>
        <% for( let index = 0; index < factionUnits.length; index++ ) { %>
        <% let a = factionUnits[index]; %> 
        <% a = a.toJSON() %>
        <p style="margin-bottom:0;"><%= a.ground %></p>
        <a href="/groundUnits">View Ground Units</a><br><br>
        <p style="margin-bottom:0;"><%= a.naval %></p>
        <a href="/navalUnits">View Naval Units</a><br><br>
        <p style="margin-bottom:0;"><%= a.air %></p>
        <a href="/airUnits">View Air Units</a><br><br>
        <% } %>
    <% } %>
</body> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Faction Units</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/cards.css">

    <style>
        .navbar {
            background-color: #301934;
        }

        #mainTitle {
            margin-top: 50px;
        }

        body {
            text-align: center;
            color: white;
            background-color: black;
        }

        .footer {
            background: #301934;
        }

        #signUpNow {
            color: white;
            text-align: center;
            background-color: black;
            font-size: 100px;
        }

        .card {
            margin: 0 auto;
            float: none;
            max-width: 600px;
        }

        img {
            object-fit: scale-down;
        }
    </style>
</head>

<body>
    <% if (currentUser) { %>

        <!-- Navigation Bar -->
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <p><strong>Subjugate</strong></p>
                    </a>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item" href="/">
                            Home
                        </a>
                        <a class="navbar-item" href="/profile">
                            Profile
                        </a>
                        <a class="navbar-item" href="/auth/logout">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Title -->
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title" style="color: ghostwhite;" id="mainTitle">Unit Types</h1>
            </div>
        </div>

        <!-- Faction Unit Cards -->
        <div class="container">
            <div class="section">
                <div class="row columns is-multiline">

                    <div class="column is-4">
                        <% let a=factionUnits[0]; %>
                            <% a=a.toJSON() %>
                                <!-- <div class="section">
                                    <div id="app" class="row columns is-centered">
                                        <div v-for="card in cardData" key="card.id" class="column"> -->
                                <div class="card large is-square">
                                    <div class="card-image">
                                        <figure class="image">
                                            <img src="https://i.imgur.com/MdT0xhX.jpg" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content">
                                                <p class="title is-4 no-padding">
                                                    <%= a.ground %> <br>
                                                        <a href="/groundUnits">View Ground Units</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- </div>
                                    </div>
                                </div> -->
                    </div>
                    <div class="column is-4">
                        <!-- <div class="section">
                            <div id="app" class="row columns is-centered">
                                <div v-for="card in cardData" key="card.id" class="column"> -->
                        <div class="card large">
                            <div class="card-image">
                                <figure class="image is-square">
                                    <img src="https://i.imgur.com/oRsYqFp.jpg" alt="Image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4 no-padding">
                                            <%= a.naval %> <br>
                                                <a href="/navalUnits">View Naval Units</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="column is-4">
                        <!-- <div class="section">
                            <div id="app" class="row columns is-centered">
                                <div v-for="card in cardData" key="card.id" class="column"> -->
                        <div class="card large">
                            <div class="card-image">
                                <figure class="image is-square">
                                    <img src="https://i.imgur.com/Gq0QVjI.jpg" alt="Image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4 no-padding">
                                            <%= a.air %> <br>
                                                <a href="/airUnits">View Air Units</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </div>
                            </div>
                        </div> -->
                    </div>

                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    <div class="soc">
                        <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
                    </div>
                    <p>
                        <strong>Subjugate</strong> by <a href="/">Blind Games Studio</a>.
                    </p>
                </div>
            </div>
        </footer>

        <% } %>
            <% if (!currentUser) { %>
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <h1 id="signUpNow">Please Signup or Login</h1>
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <style>
                    #firstFooter {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        background: #301934;
                        color: white;
                    }
                </style>

                <!-- Footer -->
                <footer class="footer" id="firstFooter">
                    <div class="container">
                        <div class="content has-text-centered">
                            <div class="soc">
                                <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
                            </div>
                            <p>
                                <strong id="Subjugate">Subjugate</strong> by <a href="/">Blind Games
                                    Studio</a>.
                            </p>
                        </div>
                    </div>
                </footer>
                <% } %>
</body>

</html>