<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Buildings</title>
</head>
<body>
    <% if (currentUser) { %>
        <% for( let index = 0; index < baseBuildings.length; index++ ) { %>
        <% let a = baseBuildings[index]; %> 
        <% a = a.toJSON() %>
        <p style="margin-bottom:0;"><%= 'Name: ' + a.name %></p>
        <p style="margin-bottom:0;"><%= 'Hitpoints: ' + a.hp %></p>
        <p style="margin-bottom:0;"><%= 'Build Time: ' + a.buildTime %></p>
        <p><%= 'Description: ' + a.description %></p>
        <% } %>

        <form method="POST" action="/baseComments">
            <label for="content">Comment</label>
            <input type="text" name="content">
            <input type="submit">
        </form>

        <% for( let index = 0; index < baseComments.length; index++ ) { %>
        <% let a = baseComments[index]; %> 
        <% a = a.toJSON() %>
        <br>
        <p style="margin-bottom:0;"><%= a.content %></p>
        <form method="POST" action="/baseComments/<%= baseComments[index].id %>/?_method=DELETE">
            <input type="submit" value="Delete">
        </form>
        <form method="POST" action="/baseComments/<%= baseComments[index].id %>/?_method=PUT">
            <input type="text" name="content" value="<%= baseComments.content %>">
            <input type="submit" value="Edit">
        </form>
        <% } %> 
        
    <% } %>
</body>